.Desktop{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;


    /* Most used/White */

    background: #FFFFFF;
}



/* Div del header para la prueba */
.header{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    height: 186px;
    background-color: #004078;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


/* Div del breadcrumb para la prueba */
.breadcrumb{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 32px 0px;
    gap: 10px;

    height: 44px;

    /* Most used/White */

    background: #b64848;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


/* Contacta */
.texto_contacta{
    /* Placeholder text */
    width: 100%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.004em;

    color: #3C3C3B;
}
.contenedor_contacta{
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;
    text-align: center;
    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}


/* Contenedor de los dos div de la pagina */
.contenedor{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 22px 32px 10px 31px;
    gap: 10px;


    /* Most used/White */

    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}


/* Div donde aparece la información para contactar y enviar el mensaje */
.informacion{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: rigth;
    justify-content: center;
    padding: 0px;
    gap: 10px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}


/* Div de la informacion para contactar */
.info_contacto{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px 10px 1px;
    gap: 14px;

    background: rgba(123, 166, 181, 0.3);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.info_contacto_texto{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 0px 26px 0px 0px;
    gap: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Div donde se le indica al usuario como contactar */ 
.perfil_usuairo{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 4px;
    gap: 8px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.perfil_usuairo_texto{
    width: 505px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */

    display: flex;
    align-items: center;

    /* Most used/Black Primary */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Div donde se encuentran los daots para contactar con la empresa */
.formas_contactar{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.formas_contactar_div{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 4px;
    gap: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Estilo del texto del tipo de contacto */
.texto_info{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;

    /* Most used/Black Primary */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Estilo del texto del contacto */
.texto_contacto{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;
    text-align: right;

    /* Most used/Black Primary */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

/* Div del formulario a rellenar */
.colum_contacto{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 95px 10px 10px;
    gap: 14px;


    /* Most used/White */

    background: #FFFFFF;
    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

/* Div de los elementos del formulario */
.formulario{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.elemento_mensaje{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.elementos_form{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 608px;
    height: 60px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


/* Div de los elementos unitarios del formulario */
.elemento_form{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 300px;
    height: 60px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Estilo de los titulos de los elementos del from */
.titulo_elm_form{
    /* Asunto */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;

    /* Most used/Black Primary */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Estilo del select */
.select{
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    width: 300px;
    height: 34px;

    border: 0.5px solid #97A6B2;
    border-radius: 2px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

/* Estilo del texto de las opciones */
.opcion{
    position: absolute;
    width: 111px;
    height: 18px;
    left: 0px;
    top: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

/* Estilos de los input del formulario */
.input_corto{
    box-sizing: border-box;

    width: 300px;
    height: 34px;

    border: 0.5px solid #97A6B2;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.input_largo{
    box-sizing: border-box;

    width: 608.28px;
    height: 100px;
    resize: none;

    border: 0.5px solid #97A6B2;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Estilos de aceptar terminos de privacidad */
.contenedor_leido{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;

    width: 398.35px;
    height: 18px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.texto_leido{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Estilos del boton no soy un robot */
.no_robot{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 608.28px;
    height: 89px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

/* Boton enviar */
.enviar{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 0px;
    gap: 10px;

    width: 608.28px;
    height: 40px;

    background: #004078;
    border-radius: 4px;
    
    /* Text */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


/* Container primary info */
.container_primary_info{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 30px;
    gap: 24px;

    width: 1366px;
    height: 72px;


    /* Inside auto layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}



/* Div del footer para la prueba */
.footer{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0px 0px;

    height: 697px;

    /* Most used/White */

    background: #c51414;

    /* Inside auto layout */

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
}